In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

# Análise P/L ao longo do tempo

In [ ]:
#ticker escolhido
tick = 'PETR3.SA'
ticker = yf.Ticker(tick)
ticker

yfinance.Ticker object <PETR3.SA>

In [2]:
_1t24 = '2024-03-31'
_4t23 = '2023-12-31'
_3t23 = '2023-09-30'
_2t23 = '2023-06-30'
_1t23 = '2023-03-31'
_4t23 = '2022-12-31'

data_1_1 = '2023-12-28'
data_2_2 = '2022-12-28'
data_3_3 = '2021-12-28'
data_4_4 = '2020-12-28'

_4t23

'2022-12-31'

In [25]:
lucro_liq_31_03_2024 = lucro_liq[_1t24]
lucro_liq_31_03_2024

4782000000.0

In [20]:
df_income = ticker.quarterly_income_stmt
df_income

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,-331067894.131185,-245750000.0,-358714857.364141,249490000.0,167568484.406347,NaN
Tax Rate For Calcs,0.308832,0.238361,0.292113,0.305,0.327923,NaN
Normalized EBITDA,12383000000.0,13841000000.0,13487000000.0,11679000000.0,14219000000.0,NaN
Total Unusual Items,-1072000000.0,-1031000000.0,-1228000000.0,818000000.0,511000000.0,NaN
Total Unusual Items Excluding Goodwill,-1072000000.0,-1031000000.0,-1228000000.0,818000000.0,511000000.0,NaN
...,...,...,...,...,...,...
Salaries And Wages,710000000.0,1844000000.0,601000000.0,568000000.0,674000000.0,NaN
Gross Profit,12257000000.0,14654000000.0,13570000000.0,11637000000.0,14113000000.0,NaN
Cost Of Revenue,11511000000.0,12453000000.0,11982000000.0,11342000000.0,12658000000.0,NaN
Total Revenue,23768000000.0,27107000000.0,25552000000.0,22979000000.0,26771000000.0,NaN
Operating Revenue,23768000000.0,27107000000.0,25552000000.0,22979000000.0,26771000000.0,NaN

In [19]:

lucro_liq = df_income.loc['Net Income From Continuing And Discontinued Operation']

lucro_liq_31_03_2024 = lucro_liq[data_01]
lucro_liq_31_12_2023 = lucro_liq[data_1]
lucro_liq_31_12_2022 = lucro_liq[data_2]
lucro_liq_31_12_2021 = lucro_liq[data_3]
lucro_liq_31_12_2020 = lucro_liq[data_4]

print(lucro_liq_31_12_2023,lucro_liq_31_12_2022,lucro_liq_31_12_2021,lucro_liq_31_12_2020)

KeyError: '2021-12-31'

In [14]:
df_close = pd.read_csv('data_yfinance/stocks.csv')
#close = df_close[['Date','ticker', 'Close']]

close_31_12_2023 = df_close.loc[(df_close['ticker'] == tick) & (df_close['Date'] == data_1_1)]['Close'].values[0].round(2)
close_31_12_2022 = df_close.loc[(df_close['ticker'] == tick) & (df_close['Date'] == data_2_2)]['Close'].values[0].round(2)
close_31_12_2021 = df_close.loc[(df_close['ticker'] == tick) & (df_close['Date'] == data_3_3)]['Close'].values[0].round(2)
close_31_12_2020 = df_close.loc[(df_close['ticker'] == tick) & (df_close['Date'] == data_4_4)]['Close'].values[0].round(2)

print(close_31_12_2023,close_31_12_2022,close_31_12_2021,close_31_12_2020)

38.98 28.5 31.06 28.65

In [15]:
shares = ticker.get_shares_full().iloc[0]
shares

12414400512

In [16]:
p_l_2023 = (close_31_12_2023*shares/lucro_liq_31_12_2023).round(2)
p_l_2022 = (close_31_12_2022*shares/lucro_liq_31_12_2022).round(2)
p_l_2021 = (close_31_12_2021*shares/lucro_liq_31_12_2021).round(2)
p_l_2020 = (close_31_12_2020*shares/lucro_liq_31_12_2020).round(2)

print(p_l_2023,p_l_2022,p_l_2021,p_l_2020)

19.45 9.66 19.4 311.72

In [17]:
x = [data_4, data_3, data_2, data_1]  # datas
y = [p_l_2020, p_l_2021, p_l_2022, p_l_2023]  # valores de P/L

plt.scatter(x, y)

plt.title(f'Evolução do P/L ao longo do tempo em {tick}')
plt.xlabel('Data')
plt.ylabel('P/L')

plt.show()

NameError: name 'plt' is not defined